@charset "utf-8";

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.7%; 
    /* 52/1920=0.027083333→2.７％*/
    padding-right: 7.1%;
    /* 138/1920=0.071875→7.1％*/
    position: absolute;  /*position:absolutoとwidth100%はセット*/
    width: 100%;
}
.header__nav ul{
    display: flex;
    gap: 50px;
}
.header__nav li{
color: white;
font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}




h1{
    width: 227px;
}
body{
    background-color: #E8D9BF;
}
.aboutus,.MENU,.EVENT{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}
.MENU .gazoutext,
.GALLERY .gazoutext, 
.EVENT .gazoutext, 
.ACCESS .gazoutext{
    text-align: center;
}
.gazoutext img{
    height: 78px;
   margin: auto;
   width: auto;
   
}
.sub-text{
    font-size: 30px;
    margin-top: 105px;
}
.main-text{
    height: 200px;
    font-size: 82px;
    margin-top: 70px; 
    
}
.catch{
    text-align: center;
}
.catch p{
    font-size: 23px;
    line-height: 38px;
    margin-top: 60px;
}
.sub-text,.main-text,.catch p{
    text-align: center;
}
.aboutus{
    display: flex;
    align-items: center;
    
}

.aboutus > img{
    width: 54%;
    border-bottom-right-radius: 84px;
    margin-top: 105px;
    
}
    
.aboutus h3{
    font-size: 44px;
    line-height: 61px;
    margin-top: 55px;
}
.aboutus-text{
    padding-left: 85px;
    width: 46%;
    margin-top: 160px;

}
.aboutus p{
    font-size: 16px;
    margin-top: 38px;
    line-height: 26px;
}
.MENU{
    margin-top: 100px;
}
.MENU ul {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 95px;
    gap: 50px;
}
.MENU h4{
    margin-top: -17px;
    padding-left: 10px;
    margin-bottom: 17px;
    font-size: 38px;
    color: red;
}
.MENU p{
    font-size: 17px;
    line-height: 25px;
}


.MENU li img{
    border-top-right-radius: 50px;
}
  

.GALLERY{
    max-width: 100%;
}
.GALLERY > div{
    display: flex;
}
.GALLERY > div img{
    width: 20%;
}
.EVENT{
    max-width: 1000px;
   padding: 40px;
    
}
.EVENT ul{
    border: solid#4f260b;
    background-color: #ffff;
    font-size: 23px;
    padding: 40px;
}
.EVENT li{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
}

.eventtext{
    text-align: left;
    margin-left: 45px;
    text-decoration-line: underline;
    margin-bottom: 23px;
}
.eventtext-b{
    text-align: left;
    margin-left: 45px;
    text-decoration-line: underline;
}
iframe{
  height: 100vh;
  filter: grayscale(100%) invert(92%) contrast(83%);
  height: 400px;
}

footer{
background-color: white;
width: 100%;
justify-content: space-between;
}

.access-inner{
   max-width: 1000px;
   margin:0 auto;
   display: flex;
}
.access-inner img{
    height: 50px;
    width: 220px;
}
footer p{
    background-color: white;
}
.text{
    margin-top: 80px;
    font-size: 20px;
    line-height: 39px;
    display:table ;
    margin: auto;
}
.copy{
    margin-top: 80px;
    font-size: 16px;
    text-align: center;
}
.toTOP{
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 125px;
    height: 125px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
}
.toTOP h3{
    font-size: 12px;
    margin-top: 21px;
}
.totop h4{
    font-size: 30px;
    margin-top: 21px;
}
.totop h5{
    font-size: 52px;
    margin-top: 21px;
}

.header__nav-sp{
    display: none;
}
.aboutus-sp{
    display: none;
}

.br-sp{
    display: none;
}


 @media screen and (max-width: 1100px) {
       .header__nav{
            display: none;
        }
       .hamburger{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
        cursor: pointer;
       } 
       .hamburger span{
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        top: 50%;
        transition: 0.3s;
       }
       .hamburger span::before{
        position: absolute;
        content:"" ;
        width: 30px;
        height: 2px;
        background-color: white;
        top: -10px;
        transition: 0.3s;
       }
       .hamburger span::after{
        position: absolute;
        content:"" ;
        width: 30px;
        height: 2px;
        background-color: white;
        bottom: -10px;
        transition: 0.3s;
       }

       .open span{
        background-color: transparent;
       }
       .open span::before{
        transform: rotate(45deg);
        top: 0;
       }
       .open span::after{
        transform: rotate(-45deg);
        bottom: 0;
       }
    .header__nav-sp{
        position: absolute;
        background-color: #00000090;
        width: 100%;
        height: 100vh;
    }

    .header__nav-sp ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .header__nav-sp li{
        color: white;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
    }
}
   



@media screen and (max-width: 767px){
    .br-sp{
        display: flex;
    }
    .aboutus{
    display: none;
    }
    .aboutus-sp{
        display: contents;
    }
    .gazoutext img{
        height: 45px;
    }
    .catch p{
        font-size: 16px;   
        line-height: 30px;
        margin-top: 10px;
     }

    .main-text{
        margin-top: 30px; 
        font-size: 38px;
        text-align: center;
        width:100%;
        height: 90px;
    }

    .aboutus-sp h3{
        font-size: 36px;
        font-weight: normal;
        line-height: 45px;
        margin-top: 55px;
        margin-left: 20px;
    }
    .aboutus-sp > p{
        margin-bottom: 65px;
        line-height: 28px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }
    .aboutus-sp > h2{
        text-align: center;
        margin-bottom: 16px;
        margin-top: 65px;
    }
    .MENU ul{
        flex-direction: column;
        align-items: center;
        margin-left: 25px;
        margin-right:25px ;
    }
    .MENU h4{
        font-size: 40px;
        margin: 0;
        margin-top: -15px;
    } 
    .MENU p{
        margin-top: 35px;
        line-height: 27px;
    }

    .EVENT li{
        flex-direction: column;
        font-size: 16px;
    }
    .eventtext, .eventtext-b{
        text-align: left;
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .eventtext{
        margin-bottom: 25px;

    }
    iframe{
        width: 100%;
        height: 190px;
    }
    .access-inner{
        flex-direction: column;
        margin-left: 20px;
    }
    .access-inner p{
        text-align: left;
        margin: 0;
    
    }
}
