@charset "utf-8";

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.7%; 
    /* 52/1920=0.027083333→2.７％*/
    padding-right: 7.1%;
    /* 138/1920=0.071875→7.1％*/
    position: absolute;  /*position:absolutoとwidth100%はセット*/
    width: 100%;
}
.header__nav ul{
    display: flex;
    gap: 50px;
}
.header__nav li{
color: white;
font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
h1{
    width: 227px;
}
body{
    background-color: #E8D9BF;
}
.aboutus,.MENU,.EVENT{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}
.MENU .gazoutext,
.GALLERY .gazoutext, 
.EVENT .gazoutext, 
.ACCESS .gazoutext{
    text-align: center;
}
.gazoutext img{
    height: 78px;
   margin: auto;
   width: auto;
   
}
.sub-text{
    font-size: 30px;
    margin-top: 105px;
}
.main-text{
    height: 200px;
    font-size: 82px;
    margin-top: 70px; 
    
}
.catch{
    text-align: center;
}
.catch p{
    font-size: 23px;
    line-height: 38px;
    margin-top: 60px;
}
.sub-text,.main-text,.catch p{
    text-align: center;
}
.aboutus{
    display: flex;
    align-items: center;
    
}
.aboutus > img{
    width: 54%;
    border-bottom-right-radius: 84px;
    margin-top: 105px;
    
}
    
.aboutus h3{
    font-size: 44px;
    line-height: 61px;
    margin-top: 55px;
}
.aboutus-text{
    padding-left: 85px;
    width: 46%;
    margin-top: 160px;

}
.aboutus p{
    font-size: 16px;
    margin-top: 38px;
    line-height: 26px;
}
.MENU{
    margin-top: 100px;
}
.MENU ul {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 95px;
    gap: 50px;
}
.MENU h4{
    
    padding-left: 10px;
    margin-bottom: 17px;
    font-size: 38px;
    color: red;
}
.MENU p{
    font-size: 17px;
    line-height: 25px;
}


.MENU li img{
    border-top-right-radius: 50px;
}
  

.GALLERY{
    max-width: 100%;
}
.GALLERY > div{
    display: flex;
}
.GALLERY > div img{
    width: 20%;
}
.EVENT{
    max-width: 1000px;
   padding: 40px;
    
}
.EVENT ul{
    border: solid#4f260b;
    background-color: #ffff;
    font-size: 23px;
    padding: 40px;
}
.EVENT li{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
}

.eventtext{
    text-align: left;
    margin-left: 45px;
    text-decoration-line: underline;
    margin-bottom: 23px;
}
.eventtext-b{
    text-align: left;
    margin-left: 45px;
    text-decoration-line: underline;
}
iframe{
  height: 100vh;
  filter: grayscale(100%);
}

footer{
background-color: white;
width: 100%;
justify-content: space-between;
}

.access-inner{
   max-width: 1000px;
   margin:0 auto;
   display: flex;
}
.access-inner img{
    height: 50px;
    width: 220px;
}
footer p{
    background-color: white;
}
.text{
    margin-top: 80px;
    font-size: 20px;
    line-height: 39px;
    display:table ;
    margin: auto;
}
.copy{
    margin-top: 80px;
    font-size: 16px;
    text-align: center;
}
.toTOP{
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 125px;
    height: 125px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
}
.toTOP h3{
    font-size: 12px;
    margin-top: 21px;
}
.totop h4{
    font-size: 30px;
    margin-top: 21px;
}
.totop h5{
    font-size: 52px;
    margin-top: 21px;
}